<app-header></app-header>

<!-- Loading indicator while user list is being fetched or until api fails-->
<div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center" *ngIf="!isUserListLoaded && !isUserListApiFailed">
  <div class="mb-4 ml-10 h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent motion-reduce:animate-[spin_1.5s_linear_infinite]"></div>
  <strong class="mr-4 mt-4">Loading users...</strong>
</div>

<!-- User filter form -->
<div class="flex justify-center mt-8">
  <form class="flex flex-col md:flex-row items-center">
    <div class="flex items-center mb-2 md:mb-0 md:mr-4">
      <!-- Input field for name filtering with two-way data binding -->
      <label for="name" class="block mb-1 mr-4 md:mr-2">Name :</label>
      <input type="text" id="name" name="name" placeholder="Filter by name"
             [ngModel]="allUserList.length > 0 ? allUserList[0].name : ''"
             class="px-2 py-1 border border-gray-300 rounded-lg focus:outline-none">
    </div>
    <div class="flex items-center">
      <!-- Input field for email filtering with two-way data binding -->
      <label for="email" class="block mb-1 mr-4 md:mr-2">Email :</label>
      <input type="email" id="email" name="email" placeholder="Filter by email"
             [ngModel]="allUserList.length > 0 ? allUserList[0].email : ''"
             class="px-2 py-1 border border-gray-300 rounded-lg focus:outline-none">
    </div>
  </form>
</div>

<!-- Container for the user list table -->
<div class="overflow-x-auto mt-8 p-4">
  <table class="table-auto border-collapse border border-gray-300 w-full">
    <thead>
    <!-- Table headers -->
    <tr class="bg-gray-200">
      <th class="px-4 py-2 text-left">Name</th>
      <th class="px-4 py-2 text-left">Username</th>
      <th class="px-4 py-2 text-left">Email</th>
      <th class="px-4 py-2 text-left">Phone</th>
    </tr>
    </thead>
    <tbody>
    <!-- Placeholder row while users are being fetched -->
    <tr class="bg-white" *ngIf="!isUserListLoaded && allUserList.length === 0 && !isUserListApiFailed">
      <td class="border px-4 py-2" colspan="4">Fetching Users...</td>
    </tr>
    <!-- Message for no users found -->
    <tr class="bg-white" *ngIf="isUserListLoaded && allUserList.length === 0">
      <td class="border px-4 py-2" colspan="4">No Users Found.</td>
    </tr>
    <!-- Error message for failed API call -->
    <tr class="bg-white" *ngIf="isUserListApiFailed">
      <td class="border px-4 py-2" colspan="4">Failed to load users.</td>
    </tr>
    </tbody>
    <tbody *ngIf="isUserListLoaded && allUserList.length > 0">
    <!-- Populating user data when loaded successfully -->
    <tr class="bg-white" *ngFor="let user of allUserList;">
      <td class="border px-4 py-2">{{user.name}}</td>
      <td class="border px-4 py-2">{{user.username}}</td>
      <td class="border px-4 py-2">{{user.email}}</td>
      <td class="border px-4 py-2">{{user.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
